body{
    background-color:#ffffff;
}

header{
    background-color:#4aaaa5;
}

.articleaboutme{
    color:#4aaaa5;
}

.aside {
    color:#4aaaa5;
}

footer{
    background-color:#666666;
    color:white;
}